// Styling for the navbar
#mainNav {
    background-color: rgba($white, .9);
    border-bottom: 1px solid $white;
    .navbar-toggler {
        padding: 0.75rem;
        font-family: $headings-font-family;
        font-size: 0.75rem;
        color: $white;
        text-transform: uppercase;
        background-color: $primary;
        border: 0;
    }
    .navbar-brand {
        color: $primary;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        letter-spacing: $headings-letter-spacing;
        text-transform: uppercase;
        svg {
            height: 2rem;
            width: 11rem;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-family: $headings-font-family;
                font-size: 1rem;
                color: $gray-900;color: $gray-900;
                mix-blend-mode: revert;
                letter-spacing: $headings-letter-spacing;
                &.active,
                &:hover {
                    color: $black;
                }
            }
        }
    }
}

// Responsive styling for screen width equal to or greater than the large breakpoint
@include media-breakpoint-up(lg) {
    #mainNav {
        border-bottom: 1px solid rgba($white,.15);
        background-color: rgba($white, .1);
        backdrop-filter: blur(2px);
        transition: background-color 0.3s ease-in-out;
        .navbar-brand {
            font-size: 1.5em;
            transition: font-size 0.3s ease-in-out;
            svg {
                fill: $white;
            }
        }
        // Styling for when the navbar shrinks on larger screens
        &.navbar-shrink {
            background-color: rgba($white, .9);
            border-bottom: 1px solid $white;
            .navbar-brand {
                svg {
                    fill: $gray-900;
                }
            }
        }
        .navbar-nav .nav-item {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
