doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Interior Design website build.  Change this for production.')
        meta(name='author', content='')

        title Interior Design Initial Build

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet', media='screen')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top', aria-label='Interior Design')
                    svg(x="0" y="0")
                        use(xlink:href="assets/img/symbols.svg#logo")
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu &#9007;
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') Team
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Occaecat sunt aute amet ipsum Lorem
                .masthead-heading.text-uppercase Nostrud in ipsum aliquip labore
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    p.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row.text-center
                    .col-md-4
                        svg.service-icon
                            use(xlink:href="assets/img/symbols.svg#city")
                        h3.my-3 Commercial
                        p.text-muted
                            | Ex do ex et incididunt. Fugiat labore ex sunt ullamco proident pariatur anim laborum proident ut cillum occaecat. Tempor veniam non aliqua sunt amet proident consequat magna exercitation. Velit magna adipisicing aute elit ad laboris tempor. Voluptate mollit officia reprehenderit excepteur irure excepteur enim quis veniam dolor tempor incididunt culpa. Officia esse velit cupidatat est.
                    .col-md-4
                        svg.service-icon
                            use(xlink:href="assets/img/symbols.svg#home")
                        h3.my-3 Residential
                        p.text-muted
                            | Ex do ex et incididunt. Fugiat labore ex sunt ullamco proident pariatur anim laborum proident ut cillum occaecat. Tempor veniam non aliqua sunt amet proident consequat magna exercitation. Velit magna adipisicing aute elit ad laboris tempor. Voluptate mollit officia reprehenderit excepteur irure excepteur enim quis veniam dolor tempor incididunt culpa. Officia esse velit cupidatat est.
                    .col-md-4
                        svg.service-icon
                            use(xlink:href="assets/img/symbols.svg#team")
                        h3.my-3 A Great Team
                        p.text-muted
                            | Ex do ex et incididunt. Fugiat labore ex sunt ullamco proident pariatur anim laborum proident ut cillum occaecat. Tempor veniam non aliqua sunt amet proident consequat magna exercitation. Velit magna adipisicing aute elit ad laboris tempor. Voluptate mollit officia reprehenderit excepteur irure excepteur enim quis veniam dolor tempor incididunt culpa. Officia esse velit cupidatat est.
                .row.text-center
                    .col
                        a.btn.btn-primary.btn-xl.text-uppercase.mt-5.js-scroll-trigger(href='#contact') Get in Touch

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    p.section-subheading Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p1.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project One
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p2.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project Two
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p3.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project Three
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal4', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p4.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project Four
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal5', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p5.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project Five
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal6', aria-label='Portfolio Title')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        svg
                                            use(xlink:href="assets/img/symbols.svg#plus")
                                img.w-100(src='assets/img/portfolio/p6.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Project Six
                                .portfolio-caption-subheading.text-muted Lorem ipsum dolor sit amet

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    p.section-subheading Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2018
                                h4.subheading Milestone
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2019
                                h4.subheading Milestone
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2020
                                h4.subheading Milestone
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 January 2021
                                h4.subheading Milestone
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Meet the Team
                    p.section-subheading Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='')
                            h4 Person One
                            p Position One
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#twitter")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#facebook")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#linkedin")
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='')
                            h4 Person Two
                            p Position Two
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#twitter")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#facebook")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#linkedin")
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='')
                            h4 Person Three
                            p Position Three
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#twitter")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#facebook")
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                                svg.social-icon
                                    use(xlink:href="assets/img/symbols.svg#linkedin")
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        // Clients
        div.py-5.d-none
            .container
                .row
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/envato.jpg', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/designmodo.jpg', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/themeforest.jpg', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/creative-market.jpg', alt='')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    p.section-subheading.text-white Lorem ipsum dolor sit amet consectetur.
                form#contactForm(name='sentMessage', novalidate='novalidate')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input#name.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.', aria-label='Name')
                                p.help-block.text-danger
                            .form-group
                                input#email.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.', aria-label='Email')
                                p.help-block.text-danger
                            .form-group.mb-md-0
                                input#phone.form-control(type='tel', placeholder='Your Phone *', required='required', data-validation-required-message='Please enter your phone number.', aria-label='Telephone')
                                p.help-block.text-danger
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea#message.form-control(placeholder='Your Message *', required='required', data-validation-required-message='Please enter a message.', aria-label='Message')
                                p.help-block.text-danger
                    .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | © Interior Design 2021
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-outline-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                            svg.social-icon
                                use(xlink:href="assets/img/symbols.svg#twitter")
                        a.btn.btn-outline-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                            svg.social-icon
                                use(xlink:href="assets/img/symbols.svg#facebook")
                        a.btn.btn-outline-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                            svg.social-icon
                                use(xlink:href="assets/img/symbols.svg#linkedin")
                    .col-lg-4.text-lg-right
                        a.mr-3.text-white(href='#!') Privacy Policy
                        a.text-white(href='#!') Terms of Use

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p1.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Threads
                                        li Category: Illustration
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p2.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Explore
                                        li Category: Graphic Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p3.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p4.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Lines
                                        li Category: Branding
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p5.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Southwest
                                        li Category: Website Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/p6.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        | Close Project

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')